.App {
  background: #141414;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  color: white;
  margin: 0;
  padding: 16px 48px;
  overflow: hidden;
}
.ant-card-bordered {
  border: none !important;
}
.ant-card-body {
  padding: 0px !important;
}
.ant-modal-body {
  padding: 0px !important;
}
.ant-modal-mask {
  background-color: rgba(255, 255, 255, 0.45) !important;
}
.ant-pagination-item {
  background-color: transparent !important;
}
.ant-pagination-item > a {
  background-color: transparent !important;
  color: #fff !important;
}
.ant-pagination-item-link {
  background-color: transparent !important;
  color: #fff !important;
}
